@import "tailwindcss";
@import "tw-animate-css";

html {
  scroll-behavior: smooth;
}

:root {
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --green-bright: #64ffda;
}